.shipFilter {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}

.filter__item {
    flex-grow: 2;
}

@media screen and (max-width: 728px) {
    .shipFilter {
        flex-direction: column;
        align-items: center;
        .filter__item {
            height: inherit;
        }
    }
}