.main__container {
    height: 100vh;

    display: flex;
    align-items: center;
    z-index: 2;
    box-shadow: 0 5px 25px 0 rgb(0 0 0 / 20%);
}

.window {
    height: 100vh;
    width: 100%;
    overflow: hidden;
    position: relative;
}

.all__pages_container {
    height: 100%;
    display: flex;
    flex-direction: row;

    transition: translate;
    transition-property: transform;
    transition-duration: 500ms;
    transition-timing-function: ease-in-out;
}

.arrow {
    cursor: pointer;
    position: absolute;
}

.arrow:first-of-type {
    top: 50%;
    left: 0;
}

.arrow:last-of-type {
    top: 50%;
    right: 0;
}

.arrow:hover {
    transform: scale(1.3);
}